<div class="row" style="height: 50px;margin-top: 2%;margin-bottom: 2%">
  <div class="col-3" ></div>
  <div class="col-6" style="background-color: white"></div>
  <div class="col-3"></div>
</div>
<div class="row" >
	<div class="col-3"></div>
	<div class="col-6" style="background-color: white;padding: 20px">
		<form>
		<div class="row">
		  <div class="form-group" class="col-6" >
		  	<label style="border-left: 3px green solid;padding-left:5px ">WORKING HOURS</label><br>
		  	<div class="row">
			  	<div class="col-4">
			  		<label class="label" style="margin-top: 40px">Luni: </label>
			  		<label class="label">Marti: </label>
			  		<label class="label">Miercuri: </label>
			  		<label class="label">Joi: </label>
			  		<label class="label">Vineri: </label>
			  		<label class="label">Sambata: </label>
			  		<label class="label">Duminica: </label>
			  	</div>
			  	<div class="col-4" > 
			  		<label>De la</label>
			  		<input type="text" class="form-control input" style="margin-top: 10px">
			  		<input type="text" class="form-control input">
			  		<input type="text" class="form-control input">
			  		<input type="text" class="form-control input">
			  		<input type="text" class="form-control input">
			  		<input type="text" class="form-control input">
			  		<input type="text" class="form-control input">
			  	</div>
			  	<div class="col-4">
			  		<label>Pana la</label>
			  		<input type="text" class="form-control input" style="margin-top: 10px">
			  		<input type="text" class="form-control input">
			  		<input type="text" class="form-control input">
			  		<input type="text" class="form-control input">
			  		<input type="text" class="form-control input">
			  		<input type="text" class="form-control input">
			  		<input type="text" class="form-control input">
			  	</div>
			 </div>
		  </div>
		  <div class="col-6" >
					  	<div class="row " style="height: 95%;padding-top: 73px">
					  		<div class="col-4 buttons" >
					  				<button type="button" class="step_2_btn_open" >Open</button>
					  				<button type="button" class="btn btn-sm step_2_btn_open" >Open</button>
					  				<button type="button" class="btn btn-sm step_2_btn_open" >Open</button>
					  				<button type="button" class="btn btn-sm step_2_btn_open" >Open</button>
					  				<button type="button" class="btn btn-sm step_2_btn_open" >Open</button>
					  				<button type="button" class="btn btn-sm step_2_btn_open" >Open</button>
					  				<button type="button" class="btn btn-sm step_2_btn_open" >Open</button>
					  		</div>

					  		<div class="col-4 buttons">
					  				<button type="button" class="btn btn-sm step_2_btn_close">Close</button>
					  				<button type="button" class="btn btn-sm step_2_btn_close">Close</button>
					  				<button type="button" class="btn btn-sm step_2_btn_close">Close</button>
					  				<button type="button" class="btn btn-sm step_2_btn_close">Close</button>
					  				<button type="button" class="btn btn-sm step_2_btn_close">Close</button>
					  				<button type="button" class="btn btn-sm step_2_btn_close">Close</button>
					  				<button type="button" class="btn btn-sm step_2_btn_close">Close</button>
					  		</div>
					  			
					  		<div class="col-4 buttons">
					  				<button type="button" class="btn btn-sm step_2_btn_24">24/24</button>
					  				<button type="button" class="btn btn-sm step_2_btn_24">24/24</button>
					  				<button type="button" class="btn btn-sm step_2_btn_24">24/24</button>
					  				<button type="button" class="btn btn-sm step_2_btn_24">24/24</button>
					  				<button type="button" class="btn btn-sm step_2_btn_24">24/24</button>
					  				<button type="button" class="btn btn-sm step_2_btn_24">24/24</button>
					  				<button type="button" class="btn btn-sm step_2_btn_24">24/24</button>
					  		</div>
					  	</div>
		  </div>
		</div>
	</form>
	</div>
	<div class="col-3"></div>

</div>

