.label{
	font-size: 14px;
	margin-top: 11px;
}
.check-box{
	font-size: 14px;
	margin-left: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.input{
	font-size: 14px;
	height: 20px;
	margin: 20px 0 20px 0;
}